* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #eef3f8;
    color: #1a2a38;
}

/* Navbar */
.header {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: #0779e4;
}

.nav-links a {
    margin-left: 28px;
    text-decoration: none;
    color: #1a2a38;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #0779e4;
}

.login-btn {
    padding: 10px 18px;
    border-radius: 8px;
    background: #0779e4;
    color: white !important;
}

/* Hero */
.hero {
    padding: 120px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
}

.text-box {
    max-width: 550px;
}

.text-box h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 700;
}

.text-box h1 span {
    color: #0d99ff;
}

.text-box p {
    font-size: 1.2rem;
    margin-bottom: 35px;
}

.buttons .btn {
    padding: 14px 30px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 15px;
    display: inline-block;
    transition: 0.3s;
}

.primary {
    background: #0779e4;
    color: white;
}

.secondary {
    border: 2px solid #0779e4;
    color: #0779e4;
}

.btn:hover {
    transform: translateY(-4px);
}

.hero-img {
    width: 450px;
    position: relative;
    z-index: 2;
    filter: drop-shadow(0 12px 25px rgba(0,0,0,0.15));
}

/* Fade bottom effect */
.fade-bottom {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
}



/* Floating Animation */
@keyframes float {
    0%,100% { transform: translateY(0); }
    50% { transform: translateY(-12px); }
}

/* Features */
.features {
    text-align: center;
    padding: 100px 60px;
}

.features h2 {
    font-size: 2.6rem;
    margin-bottom: 50px;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 35px;
}

.card {
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.12);
    transition: 0.5s ease-in-out;
}

footer {
    background: #1a2a38;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}

/* Mobile responsive */
@media(max-width: 768px){
    .hero-img {
        width: 330px;
        margin-top: 40px;
    }
}